<a href="https://colab.research.google.com/github/kl20879/CE880-lad-class/blob/main/week2/problem2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Welcome to CE880
### This is your week-2 : Problem 2 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

In [ ]:
# Please make sure if pandas is installed and if not then run the this cell otherwise skip
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.4-cp37-cp37m-macosx_10_9_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 5.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17.3 in /Users/sagihaider/anaconda3/envs/teaching/lib/python3.7/site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/sagihaider/anaconda3/envs/teaching/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/sagihaider/anaconda3/envs/teaching/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/sagihaider/anaconda3/envs/teaching/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.4

#### Let's create a Toy Data for rest of the 3 questions

In [ ]:
import numpy as np
import pandas as pd
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

---
## Question 4:

Write a Pandas program to display students names, where number of attempts in the examination is less than 2 and score greater than 15.

In [ ]:
def filter_1():
    """Write a Pandas program to display students names, where number of attempts 
    in the examination is less than 2 and score greater than 15."""
    
    ### BEGIN SOLUTION
    ans1 = df[(df['attempts'] < 2) & (df['score'] > 15)]
    nam1 = ans1['name']
    nam1 = nam1.values.tolist()
    return nam1
    ### END SOLUTION

In [ ]:
filter_1()

['Jonas']

In [ ]:
assert filter_1() == ['Jonas']

---
## Question 5:

Write a Pandas program to calculate the sum of the examination attempts by the students.

In [ ]:
def sum_attempts():
    """Write a Pandas program to calculate the sum of the examination attempts by the students."""
    
    ### BEGIN SOLUTION
    totalattempts = sum(df['attempts'])
    return totalattempts
    ### END SOLUTION

In [ ]:
sum_attempts()

19

In [ ]:
"""Check the sum attempt"""
assert sum_attempts() == 19

## Question 6

Write a Pandas program to display the average score. `Hint`: Please replace `NaN` values with `0` before calcualting average.

In [ ]:
import itertools
def score():
    """Write a Python program to calculate average score"""
    ### BEGIN SOLUTION
    df['score']=df['score'].fillna(0)
    means=df['score'].mean(skipna=False)
    return means
    ### END SOLUTION

In [ ]:
score()

10.85

In [ ]:
assert score() == 10.85